{% extends "base.html" %}

{% block content %}
  <h2>Healthy Food Videos</h2>
  <p>Select a diet category to watch the video:</p>
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=MIOk6o5_xS8" target="_blank">
        Low-Calorie Diet
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/shorts/6JbBpWEb63k" target="_blank">
        High-Protein Diet
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=q42n27oCOUM" target="_blank">
        Fat Loss Diet
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=OqRvmJ2eyBA" target="_blank">
        Bulking
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=InvnD77Apyc" target="_blank">
        Keto Diet
      </a>
    </li>
  </ul>
{% endblock %}
