{% extends "base.html" %}

{% block content %}
  <h2>Workout Videos</h2>
  <p>Select a workout category to watch the video:</p>
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=https://www.youtube.com/shorts/YPpII0k2EVc" target="_blank">
        Chest Workout
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=https://www.youtube.com/shorts/AJUh03WB8F4" target="_blank">
        Legs Workout
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=https://www.youtube.com/shorts/w_SUfk8z76Q" target="_blank">
        Back Workout
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=https://www.youtube.com/shorts/lYH24HZr0zU" target="_blank">
        Shoulder Workout
      </a>
    </li>
    <!-- Add more categories as needed -->
  </ul>
{% endblock %}
